{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Clinic Global 1998</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
  <body class=" flex flex-col bg-blue-50 min-h-screen">
    <!-- Navbar -->
    {% include "hospital/navbar_home.html" %}
    
    <!-- Block Content -->
    <main class="flex-1">
      {% block content %}
      {% endblock content %}
    </main>
    
    <!-- Footer -->
    {% include "hospital/footer_home.html" %}  
  </body>
</html>
