{% extends "hospital/_homebase.html" %}
{% load static %}

{% block content %}
<section>
    <div class="bg-white rounded-lg my-7 shadow-md py-8 p-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-3xl font-extrabold text-center text-gray-900 ">New Appointment</h2>
        <form method="POST" class="space-y-8">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-900 py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 ">Book</button>
        </form>

    </div>
</section>
{% endblock content %}