{% extends 'hospital/_dashboard_base.html' %}
{% load widget_tweaks %}
{% block content %}


<!------ add appointment page by admin(sumit)  ---------->

<form method="post">
  
  {% csrf_token %}
  {{ form.as_p }}
  
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Book Appointment Details</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              
              {% render_field appointmentForm.description class="form-control" placeholder="Description" %}
              
            </div>
            <div class="form-group">
              
              {% render_field appointmentForm.doctorId class="form-control" placeholder="doctor" %}
              
            </div>
            <div class="form-group">
              
              {% render_field appointmentForm.patientId class="form-control" placeholder="patient" %}
              
            </div>

          </div>

        </div>
        <button type="submit" class="btnSubmit">Book</button>
      </div>
    </div>
  </div>
</form>

{% endblock content %}
