{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section class="bg-white rounded-lg shadow-md mt-5">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 ">Create Account</h2>
            <form method="post" class="space-y-8">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="bg-blue-900 py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 ">Submit</button>
            </form>
    
        </div>
    </section>
</body>
</html>
