{% load static %}
<section class="bg-white rounded-lg shadow-md mt-5 py-5 px-4 max-w-screen-lg">
        <div class="flex">
        <div>
            <img
            src="{% static 'images/illustration_faq.png' %}"
            />
        </div>
        <div class="pt-10">
            <p class="font-bold text-2xl">Frequently Asked Questions</p>
            <div class="border-y-2 border-gray-400">
                <p class="font-semibold">Question 1</p>
                <p class="text-gray-600">Answer 1</p>
        </div>
        <div class="border-y-2 border-gray-400">
            <p class="font-semibold">Question 1</p>
            <p class="text-gray-600">Answer 1</p>
        </div>
        </div>
    </div>

    
</section>

